/* Reset
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* -------------------------------------------
         global styles
 --------------------------------------------- */

body, html {
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

@media (max-width: 660px) {
	body {
		background: rgba(215, 224, 226, 0.98);
	}
}


#bg-img {
	background-image: url(assets/matt-bowden-515724-unsplash.jpg);
	/*background-size: auto;
	/*background-size: 100vw;*/
	position: relative;
	height: 100%;
	width: auto;
	/*background-position: fixed;*/
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

h1 {
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
	font-size: 32px;
	letter-spacing: 1px;
	padding-top: 1em;
}

h2 {
	font-family: 'Luckiest Guy', cursive;
	text-align: left;
	font-size: 24px;
	padding-top: 2em;
	padding-bottom: 1em;
	font-weight: normal;
	clear: all;
}


/* -------------------------------------------
         form styles
 --------------------------------------------- */

#header {
	background-color: rgba(201, 153, 148,0.98); 
	margin: 0 0 2em 0;
	padding: 0 0 1em 0;
	width: 100%;
}
@media (max-width: 660px) {
	#header {
		margin: 0 0 0 0;
	}
}

#main {
	padding: 1em 2em 2em 2em;
}

#form-page {
	margin: 0;
	padding: 0;
	height: 100vh;
}

#survey-form {
	width: 50%;
	min-width: 300px;
	height: 80vh;
	overflow-y: scroll;
	border-radius: 5px;
	margin: 0 auto 0 5em;
	padding: 2em 0 0 0;
	background: rgba(215, 224, 226, 0.98);
}

@media (max-width: 1095px) {
	#survey-form {
		width: 75%;
		max-height: 90vh;
		margin: 0 auto 0 auto;
	}
}

@media (max-width: 660px) {
	#survey-form {
		width: 100%;
		padding: 0.5em;
		align-content: center;
		height: 92vh;
		max-height: 97vh;
		border-radius: 0;
	}
}

legend, label, p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	text-indent: 0;
	margin-left: 0;
	/*border: solid;*/
}

p {
	clear: both;
}

fieldset {
	border: none;
}

textarea {
	border-radius: 5px;
	border-color: #C0C0C0;
}


/*----------Personal Info----------*/
/*input:invalid {
  border: 0.5px solid red;
}*/
.personal-info-label {
    text-align: left;
    padding-right: 1em;
}

#last-personal-label {
	display: inline-block;
	float: left;
	width: auto;
	padding: 0 1em 1em 0;
    clear: left;
}

#last-personal-input {
	display: inline-block;
	width: auto;
    float: left;
    margin: 0;
    padding-bottom: 1em;
    clear: right;
}

.col-wide {
	float: left;
	width: auto;
    margin: 0;
    padding: 0 0 1em 0;
    clear: left;
}

.col-narrow {
	width: auto;
    float: left;
    margin: 0;
    padding-bottom: 1em;
    clear: right;
}

@media (max-width: 660px) {
	.personal-info-label {
		display: block;
		text-align: left;
		margin: 2em 0 0 0;
		padding: 0;
	}
	.col-wide {
		clear: both;
		width: 80%;
	}
	.col-narrow {
		clear: both;
	}
	#last-personal-input {
		clear: both;
	}
}

/*----------Your Experience----------*/

#experience {
	clear: both;
}

.questions {
	margin-top: 2em 0em 1em 0em;
	padding-top: 2em;
}

/* 
===============Radio===============*/

#staff, #tickets, #map, #parking {
	padding-bottom: 1em;
}

#staff {
	margin-top: 1em;
}

.radio-col-left {
	float: left;
	width: auto;
    margin: 0;
    padding: 0 2em 1em 0;
    clear: left;
}

.radio-set {
	width: auto;
    float: right;
    margin: 0;
    clear: right;
}

.radio-set label {
	text-align: left;
    padding-right: 5px;
}

@media (max-width: 700px) {
	.radio-col-left {
		width: 90%;
		padding: 1em 0 0.5em 0;
	}
	.radio-set {
		float: left;
	}
	.radio-set label {
    	padding-right: 10px;
}
}

/* 
===============Last Few Qs===============*/

.textarea-label {
	padding-bottom: 1em;
}


#submit {
	display: block;
	margin: 5em auto 2em auto;
	padding: 2em 3em 2em 3em;
	background-color: rgba(40, 170, 180,0.75);
	font-family: 'Luckiest Guy', cursive;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	letter-spacing: 1px;
}

#submit:hover {
	background-color: rgba(14, 83, 61,0.75);
}

@media (max-width: 660px) {
	#submit {
		margin-bottom: 3em;
	}
}
